* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.plan-text {
    text-align: center;
}

#date {
    text-align: center;
}

.event {
   margin: 15px 15px 15px 10px;
}

.bigger {
     
    background-color: lightcoral;
    width: 50%;
    margin-top: 5px;
    margin-left: 40px;
}

.timePad {
    padding-top: 5px;
}

.plan-text {
    font-family: 'Righteous', cursive;
    font-size: 36px;
}

body {
    background: url("../Day-Planner/images/pattern.png");
}

.jumbotron {
    margin-top: 25px;
}

.past {
    background: grey;
}

.present {
    background: red;
}

.future {
    background: green;
}

.purple {
    background: purple;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.bold {
    font-weight: bold;
}